.app-header {
  background-color: #71c9ce;

  &__title {
    line-height: 2;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  }

  &__links {
    padding-left: 1em;
    padding-bottom: 0.5em;
    > * {
      color: #cbf1f5;
      text-decoration: none;
      margin-right: 1em;
    }
  }

  @media screen and (min-width: 1000px) {
    &__links {
      text-align: center;
    }
  }
}