.train-entry {
  &__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    tr {
      border-bottom: 1px solid #333;
      line-height: 2em;

      td + td {
        width: 15%;
      }
    }
  }
}