.form-new {

  &__input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__input {
    flex-grow: 1;
    font-size: 1.3rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #a6e3e9;
    background-color: #a6e3e911;
    color: #123;
    overflow-x: auto;

    & + & {
      flex-basis: 15%;
      flex-grow: 0;
    }

    &:focus {
      outline: none;
      border-bottom-color: #71c9ce;
    }

    &:nth-of-type(2n) {
      border-radius: 0 0.5rem 0 0;
    }

    &:nth-of-type(2n+1) {
      border-radius: 0.5rem 0 0 0;
    }

    &::placeholder {
      color: #71c9ce88;
    }

    &_key {
      background-color: #a6e3e922;
      border-right: 1px solid #a6e3e9;
    }
  }

  &__btn {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid #71c9ce;
    color: #123;
    background: none;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: rgba(#71c9ce, 0.1);
    }

    &:focus {
      outline: none;
      text-decoration: underline;
    }

    &:active {
      background-color: #71c9ce;
      color: white;
    }

    &::-moz-focus-inner {
      border: 0;
    }
  }

  &__btn-delete-field {
    border: none;
    background: none;
    margin-right: 0.5rem;
  }
}