*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  font-size: calc(100vw / 36);
}

@media screen and (min-width: 1000px) {
  :root {
    font-size: 16px;
  }

  main {
    max-width: 1200px;
    margin: auto;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e3fdfd;
  color: #123;
  font-weight: 300;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', serif;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

@for $i from 0 through 10 {
  .mt-#{$i} {
    margin-top: $i * 0.5rem;
  }
  
  .mr-#{$i} {
    margin-right: $i * 0.5rem;
  }
  
  .mb-#{$i} {
    margin-bottom: $i * 0.5rem;
  }
  
  .ml-#{$i} {
    margin-left: $i * 0.5rem;
  }
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}
